<main class="holder">

    <div class="novedades">
        <h2>Derecho Laboral
        </h2>
        <p>Trabajo en negro-conciliación laboral-convenios colectivos-discriminación mobbing-acoso-despidos-indemnizaciones-carga sociales-trabajo parcialmente registrado
        </p>
        <div class="especialidad">
        </div>

    </div>
    <div class="novedades">
        <h2>Derecho Civil </h2>
        <p>Contractuales:Alquileres-desalojos-usurpaciones-daños y perjuicios-accidente de transito-ejecuciones de incumplimiento-asesoramiento integral pre y post contractual</p>
        
        <div class="especialidad">
        </div>
    </div>
    <div class="novedades">
        <h2>Derecho de Familia</h2>
        <p>Alimentos-regímen de visita-divorcio-tenencia de hijos-restricción de perimetros-privación de contacto con su hijo-adopción-liquidación y adjudicación de bienes de la sociedad conjugal
        </p>
        <br>
<div class="especialidad">
</div>

</div>
<div class="novedades">
    <h2>Derecho Penal </h2>
    <p>Asesoramiento integral-patrocinios y defensa durante las diferentes estapas procesales -IPP(investigación preparatoria penal)-juicios oral y otros</p>

    <div class="especialidad">
    </div>
    <div class="especialidad">
    </div>
    
    </div>
    <div class="novedades">
        <h2>Derecho Previsional </h2>
        <p>Jubbilaciones-pensiones-reparación historica- jubilación por vejez y otros</p>
    
        <div class="especialidad">
        </div>


        <h2>Egresados de la UNLZ</h2>
        <center>
        <img src="/images/facu.png" alt="foto facu" width="200px">
        <br>
        <br>
        <img src="/images/grupo.png" alt="foto grupo ">
        </center>
        <br>

        <section"clientes-contenedor">
            <h2 class="titulo"> COMENTARIOS DE USUARIOS</h2>
            <br>
            <div class="cards">
                <div class="card">
                    {{!-- <img src="images/novedades (3).png" alt=""> --}}
                    <div class="contenido-texto-cards">
                        {{!-- <h4>Desconocio/a</h4> --}}
                        <p class="comentario">"Recibimos eficiente y cordial orientación por parte de la Dra.Ayala"</p>
                        
                    </div>
                </div>
                <div class="card">
                    {{!-- <img src="images/novedades (2).png" alt=""> --}}
                    <div class="contenido-texto-cards">
                        {{!-- <h4>Roberto y Julia</h4> --}}
                        <p class="comentario">"Responden rápido y brindan muy buen servicio.Muy recomendable"</p>
                            
                    </div>
                </div>
            </div>
            <br><br>
            </section>

    </div>
    </div>

</main>