<main class="holder">

    <div class="homeimg">
        <img src="images/abog.png" alt="">
    </div>


    <section class="content tarifas" id="preguntas">
        <article class="contain">
            <center>
                <br>
                <div class="circulo">
                    <img src="images/YO.png" alt="">
                </div>
                <h2><u>Estudio Jurídico</u></h2>

                <h2>Dra. Ayala Celia y Asociados</h2>
                <center>
                    {{!-- <p>¿Quieres un poco de música mientras recorres la página?
                        <br>
                        HAZ CLICK Y DISFRUTALO
                    </p>
                </center>
                <center><video src="images/musicalenta.mp3" height="100px" width="300px" controls=""></video></center>
                --}}

                <br><br>
                <h2>Especialidades en derecho laboral,familia,previsional,defensa penal,derecho civil y otros.
                </h2>
                <p>Hace 15 años que brindamos un servicio a todas las necesidades legales,tanto las más complejas como
                    las más cotidianas </p>
                <p> Sabemos lo que hacemos!</p>
                {{!-- <h2><mark>COBRAMOS CONSULTA</mark></h2> --}}
                {{!-- <p>Las consultas no son <strike> Gratis</strike></p> --}}
                <br>
                <a href="https://api.whatsapp.com/send?phone=[+54][1165306849]" target="_blank" class="btn">Contactar
                    Ahora</a>
                <p>"Damos respuesta lo más rápido posible"</p>
                {{!-- TEXTO ALTERNATIVO EN WPP --}}
                {{!-- <a
                    href="https://api.whatsapp.com/send?phone=541165306849&text=Hola, Nececito mas informacion!">Envíanos
                    un mensaje de
                    WhatsApp</a> --}}
                <h4>Pago único por la consulta </h4>
                <img src="/images/dinero.png" alt="">
                <p>Un abogado especialista se comunicará contigo con el fin de asesorarte y orientarte en tu
                    problema legal.Puedes enviarle contratos, demandas, multas o cualquier otro documento para
                    que pueda ayudarte mejor.</p>
                <section"clientes-contenedor">
                    <br>
                    <div class="cards">
                        <div class="card">
                            <div class="contenido-texto-cards">
                                <h4>CONSULTA EXPRESS</h4>
                                <p class="comentario">Consultas simples $1000,10 minutos.Es inmediata y programada.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="contenido-texto-cards">
                                <h4>CONSULTA JURÍDICA</h4>
                                <p class="comentario">Consultas complejas $1500,consultas en vivo,programada por
                                    videollamada.</p>
                            </div>
                        </div>
                    </div>
                    <br><br>
    </section>
    </center>

    </article>
    </section>
    <!-- informacion -->
</main>