<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abogados Profesionales</title>
  <!-- logo del titulo -->
  <link rel="shortcut icon" href="images/Justicia.png">
  <!-- extenciones  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https: //fonts.googleapis.com/css2? family = Open + Sans: wght @ 300 & display = swap "
    rel=" stylesheet ">
  <!-- iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">


  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <header>
    <div class="logo holder">
      <img src="images/Justicia.png" alt="" width="190px">
      <h1><u>SOMOS <br> <br> ABOGADOS</u></h1>
    </div>
  </header>

  <nav>
    <ul class="holder">
    <li> <a class=" {{#if isHome}}activo{{/if}}" href="/">Inicio</a></li>
    <li> <a class="{{#if isNosotros}}activo{{/if}}" href="/Nosotros">Nosotros</a></li>
    <li> <a class="{{#if isNovedades}}activo{{/if}}" href="/Especialidades">Áreas</a></li>
    <li> <a class="{{#if isContacto}}activo{{/if}}" href="/Contacto">Contacto</a></li>

    </ul>

  </nav>
      {{{body}}}
      <footer>
        <div class="contenedor-footer">
          <div class="content-foo">
            <section class="social" id="contacto">
              <center><a href="http://instagram.com/draayala45" class="btn" target="_blank"><i class="fa fa-instagram"></i>
      
                </a></center>
          </div>
          <div class="content-foo">
            <center><a href="https://www.linkedin.com/in/celia-ayala-197a80157/" class="btn" target="_blank"><i
                  class="fa fa-linkedin"></i>
      
              </a></center>
          </div>
          <div class="content-foo">
            <center><a href="http://api.whatsapp.com/send?phone=[54][1165306849]" class="btn" target="_blank"><i
                  class="fa fa-whatsapp"></i>
      
              </a></center>
          </div>
        </div>
        </section>
        <h2 class="titulo-final">© Derechos Reservados | Sofia Blet</h2>
      </footer>
      <script type="text/javascript">
        console.log("Hola,sólo quería recordarte que Sofia Blet es la creadora de esta página 2021-2023")
      </script>
      </body>
      
      </html>