<main class="holder">
    <section class="historia">
        <h2>Casos Resueltos</h2>
        <p>Miles de casos resueltos,somos abogados capacitados y comprometidos en resolver casos simples y complejos.</p>
    </section>
    <section class="estado">
        <h2>Equipo De Trabajo con atención personalizada</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/celia.jpeg" alt="" title="Gerente">
                <h5>Ayala Colman Celia</h5>
                <h6>Abogada </h6>
                <p>Especialista en derecho de familia y sucesiones con experiencia en cientos de casos resueltos. </p>
    <h5>Buenos Aires Argetina</h5>           
            </div>
            <div class="persona">
                <img src="images/caras-personas (1).jpg" alt="" title="Jefa">
                <h5>Rosana Mongiello y otros</h5>
                <h6>Abogados</h6>
                <p>Especialistas en derecho laboral y previsional</p>
                    <h5>Buenos Aires Argetina</h5>

            </div>
          
        




        </div>
    </section>

</main>

